* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: titling-gothic-fb, sans-serif;
  font-weight: 300;
}

h1 {
  font-size: 28px;
  font-weight: 400;
  line-height: 44px;
}

p {
  font-size: 14px;
  color: #707f8e;
  font-weight: 300;
}

nav {
  background-color: #dfecff;
  position: fixed;
  width: 100%;
  z-index: 1;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 60px;
}

.onScroll {
  background-color: #ffffff;
  border-bottom: 1px solid rgba(140, 157, 184, 0.4);
}

.logoNavBar {
  inline-size: 170px;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style: none;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: #707f8e;
  font-size: 14px;
  padding: 30px 18px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

nav ul li a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: #1e7cfc;
}

.btn-contact-us {
  color: #ffffff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#6942c7), to(#512da8));
  background-image: linear-gradient(#6942c7, #512da8);
  padding: 10px 30px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

.btn-contact-us:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#512da8), to(#512da8));
  background-image: linear-gradient(#512da8, #512da8);
}

header {
  min-height: 98vh;
  background-color: #dfecff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .wellcomeText {
  max-inline-size: 800px;
  margin: 0 0 0 60px;
}

header .wellcomeText p {
  padding-top: 20px;
  line-height: 34px;
  letter-spacing: 1px;
  max-inline-size: 500px;
}

.h1Middle {
  text-align: center;
  padding: 50px 0 0 0;
  color: #2d3339;
}

.sammarbetsPartnerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.jrMarkteknik {
  width: 80px;
  padding: 50px 0;
}

.mjContractor {
  height: 52px;
  margin-top: 50px;
}

.border {
  border: 16px solid #ffffff;
}

.section-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pic-field {
  height: 600px;
  background: green;
  width: 50%;
  overflow: hidden;
}

.text-field {
  height: 600px;
  width: 50%;
}

.pic {
  margin-top: -170px;
}

.pic2 {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.pic3 {
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  margin-left: -500px;
  margin-top: -300px;
}

.pic4 {
  -webkit-transform: scale(0.74);
          transform: scale(0.74);
  margin-left: -400px;
  margin-top: -300px;
}

.pic5 {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  margin-left: -215px;
  margin-top: -500px;
}

.pic6 {
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
  margin-left: -300px;
  margin-top: -450px;
}

.pic7 {
  -webkit-transform: scale(0.55);
          transform: scale(0.55);
  margin-left: -270px;
  margin-top: -370px;
}

footer {
  height: 500px;
  background: #044d48;
}
/*# sourceMappingURL=styles.css.map */